/* -----------------------------------
general
----------------------------------- */

.container
{
	margin: 0 auto;
	max-width: 1000px;
	_width: 1000px;
}

.row
{
	clear: both;
	overflow: hidden;
	zoom: 1;
	_overflow: visible;
}

.row-padding { padding-bottom: 30px; }

/* -----------------------------------
general
----------------------------------- */

.aside,.section,.section-wide,.section-home,.aside-home,.col,.col-narrow,.col-wide { margin-bottom: 20px; }

@media (min-width:900px)
{
	.aside,.section,.section-wide,.section-home,.aside-home,.col,.col-narrow,.col-wide { margin-bottom: 0; }
	.aside,.section-wide,.section-home,.col,.col-narrow,.col-wide { float: left; }
	.section,.aside-home { float: right; }
	
	.aside
	{
		width: 21.5%;
		padding: 35px 3% 300px;
		background: url(../img/bg-base.jpg) no-repeat 100% 0;
	}
	
	.section
	{
		width: 69%;
		padding-top: 35px;
	}
	
	.section-wide
	{
		width: 90%;
		margin-left: 5%;
		padding-top: 35px;
		_display: inline;
	}
	
	.section-home { width: 73.75%; }
	.aside-home { width: 21.25%; }
	
	.col
	{
		width: 21.25%;
		margin-right: 5%;
		_width: 20%;
		_margin-right: 4%;
	}

	.col-narrow
	{
		width: 21%;
		margin-right: 5%;
		_width: 20%;
		_margin-right: 4%;
	}
	
	.col-wide
	{
		width: 47.5%;
		margin-right: 5%;
	}
	
	.col-last { margin-right: 0; }
}

/* -----------------------------------
header
----------------------------------- */

.header-outer { background: #fff; }
.header { padding: 10px 20px 15px; }

.header-logo a
{
	display: block;
	margin: 0 0 20px;
}

.header-details-large
{
	color: #201B6D;
	font-size: 20px;
}

.header-details-small { font-size: 14px; }
a.tel { text-decoration: none; }
a.tel:link { color: #201B6D; }
a.tel:visited { color: #201B6D; }
a.tel:focus { color: #000; }
a.tel:hover { color: #6D2C55; }
a.tel:active { color: #9F1C20; }

@media (min-width:880px)
{
	.header { padding: 15px; }
	
	.header-logo a
	{
		width: 555px;
		height: 84px;
		float: left;
		margin: 0;
		background: url(../img/header-logo-wide.png) no-repeat;
	}
	
	.header-logo a span
	{
		position: absolute;
		left: -500em;
		width: 490em;
	}
	
	.header-details
	{
		width: 260px;
		float: right;
		padding: 10px 0 0;
		text-align: right;
	}
	
	.header-details-large { font-size: 28px; }
	.header-details-small { font-size: 14px; }
}

/* -----------------------------------
feature
----------------------------------- */

.feature-outer { background-color: #fff; }
.feature { padding: 20px; }
.feature-text { font-size: 20px; }

@media (min-width:900px)
{
	.feature-outer
	{
		background-image: url(../img/bg-feature.jpg);
		background-repeat: repeat-x;
		background-position: 50% 0;
	}
	
	.feature { padding: 50px 30px; }
	
	.feature-text
	{
		font-size: 24px;
		line-height: 30px;
	}
}

/* -----------------------------------
feature2
----------------------------------- */

.feature2-outer { background-color: #fff; }
.feature2 { padding: 20px; }

.feature2-heading
{
	margin: 0 0 1em;
	color: #444;
	font-weight: normal;
}

@media (min-width:900px)
{
	.feature2 { padding: 0 30px 50px; }
}

/* -----------------------------------
main
----------------------------------- */

.main-outer { background-color: #fff; }
.main { padding: 20px; }

@media (min-width:900px)
{
	.main { padding: 0 30px 50px; }
}

/* -----------------------------------
footer-rich
----------------------------------- */

.footer-rich-outer { background-color: #d0e9f0; }
.footer-rich { padding: 20px; }

.footer-rich a,.footer-rich a:link,.footer-rich a:visited
{
	color: #000;
	text-decoration: none;
}

.footer-rich a:focus { color: #000; }
.footer-rich a:hover { color: #6D2C55; }
.footer-rich a:active { color: #9F1C20; }
.footer-rich h3,.footer-rich h4 { margin: 0 0 .3em; }
.footer-rich li { font-size: 14px; }

@media (min-width:900px)
{
	.footer-rich { padding: 40px 30px; }
}

/* -----------------------------------
footer
----------------------------------- */

.footer-outer { background-color: #201B6D; }

.footer
{
	padding: 20px;
	color: #fff;
	line-height: 1.4;
}

.footer a:link, .footer a:visited { color: #fff; }

.footer a:focus
{
	color: #000;
	background: #fff;
}

.footer a:hover
{
	color: #fff;
	background: #6D2C55;
}

.footer a:active
{
	color: #fff;
	background: #9F1C20;
}

@media (min-width:900px)
{
	.footer { padding: 40px 30px; }
	.cc-logo { float: right; }
	
	.cc-text
	{
		clear: both;
		text-align: right;
	}
}
