/* -----------------------------------
forms
----------------------------------- */

.form-margin { margin: 0 0 1em; }

.form-container
{
    clear: both;
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
    margin: 0 0 1em;
}

.text-wide, .select-wide,.textarea-wide,.text-narrow, .select-narrow,.textarea-narrow { box-sizing: border-box; }

.label-wide,.label-narrow
{
    display: block;
    margin: 0 0 .3em;
}

.text-wide,.textarea-wide,.select-wide,.text-narrow,.textarea-narrow,.select-narrow
{
    width: 100%;
    *width: 90%;
}

.text-wide,.textarea-wide,.text-narrow,.textarea-narrow
{
    padding: 5px 2%;
    border: 1px solid #aaa;
    *width: 86%;
}

@media (min-width:900px)
{
    .label-wide
    {
        float: left;
        width: 33%;
        margin: 0 3% 0 0;
        text-align: right;
    }

    .text-wide, .select-wide,.textarea-wide
    {
        float: left;
        width: 45%;
    }

    .indent .text-wide,.indent .select-wide,.indent .textarea-wide { width: 95%; }
    .text-wide,.textarea-wide { padding: 5px .6%; }

    .indent
    {
        margin-left: 36%;
        width: 46%;
    }

    .content-wide
    {
        float: left;
        width: 60%;
    }

    .label-narrow
    {
        float: left;
        width: 27%;
        margin: 0 3% 0 0;
        text-align: right;
    }

    .text-narrow, .select-narrow,.textarea-narrow
    {
        float: left;
        width: 60%;
    }

    .indent-narrow .text-narrow,.indent-narrow .select-narrow,.indent-narrow .textarea-narrow { width: 100%; }
    .text-narrow,.textarea-narrow { padding: 5px .8%; }

    .indent-narrow
    {
        margin-left: 30%;
        width: 60%;
    }
}