/* -----------------------------------
btn
----------------------------------- */

.btn,a.btn
{
    display: inline-block;
    padding: .6em .8em;
    margin: 0;
    border: none;
    border-radius: 6px;
    color: #fff !important;
    background-color: #201B6D;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:focus,a.btn:focus { background-color: #000; }
.btn:hover,a.btn:hover { background-color: #6D2C55; }
.btn:active,a.btn:active { background-color: #9F1C20; }

/* -----------------------------------
btn-current
----------------------------------- */

.btn-current,a.btn-current
{
    color: #000 !important;
    background-color: #ddd;
}

/* -----------------------------------
btn-small
----------------------------------- */

.btn-small
{
    display: inline-block;
    padding: .3em .5em;
    margin: 0;
    border: none;
    border-radius: 3px;
    color: #fff !important;
    background-color: #000;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

/* -----------------------------------
feature btn
----------------------------------- */

.feature-btn
{
    overflow: hidden;
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}

.feature-btn li { display: inline; }

.feature-btn a:link, .feature-btn a:visited
{
    float: left;
    margin: 0 15px 15px 0;
    padding: 15px 30px 15px 100px;
    border-radius: 8px;
    color: #fff;
    background-color: #201B6D;
    background-image: url(../img/bg-feature-btn.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 1;
    text-decoration: none;
}

.feature-btn strong { display: block; }
.feature-btn a:focus { background-position: -400px 50%; }
.feature-btn a:hover { background-position: -800px 50%; }
.feature-btn a:active { background-position: -1200px 50%; }

@media (min-width:900px)
{
    .feature-btn { margin: 45px 0 0; }
}