/* -----------------------------------
font-size
----------------------------------- */

.font34 { font-size: 34px; }
.font32 { font-size: 32px; }
.font30 { font-size: 30px; }
.font28 { font-size: 28px; }
.font26 { font-size: 26px; }
.font24 { font-size: 24px; }
.font22 { font-size: 22px; }
.font20 { font-size: 20px; }
.font18 { font-size: 18px; }
.font16 { font-size: 16px; }
.font14 { font-size: 14px; }
.font13 { font-size: 13px; }
.font12 { font-size: 12px; }
.line-height30 { line-height: 30px; }

/* -----------------------------------
position
----------------------------------- */

@media (min-width:900px)
{
	.narrow { display: none; }
	.floatLeft { float: left; }
	.floatRight { float: right; }
}

.overflow { overflow: hidden; }
.clearBoth { clear: both; }
.textAlignRight { text-align: right; }

/* -----------------------------------
color
----------------------------------- */

.grey { color: #777; }
.colour1 { color: #201B6D; }
.colour2 { color: #008EB3; }
.colour3 { color: #00718C; }
.colour4 { color: #B4975A; }
.colour5 { color: #DEF0F5; }
.colour6 { color: #D4C1A2; }
.colour7 { color: #775C1F; }
.colour8 { color: #9F1C20; }
.colour9 { color: #004659; }
.bgcolour1 { background: #201B6D; }
.bgcolour2 { background: #008EB3; }
.bgcolour3 { background: #00718C; }
.bgcolour4 { background: #B4975A; }
.bgcolour5 { background: #DEF0F5; }
.bgcolour6 { background: #D4C1A2; }
.bgcolour7 { background: #775C1F; }
.bgcolour8 { background: #9F1C20; }
.bgcolour9 { background: #004659; }

/* -----------------------------------
margins
----------------------------------- */

.nm { margin: 0; }
.mbn { margin-bottom: 0; }
.mbs { margin-bottom: .3em; }
.mt { margin-top: 1em; }

/* -----------------------------------
general
----------------------------------- */

.caption
{
	margin: .3em 0 1.5em;
	font-size: 14px;
}

.hidden
{
	position: absolute;
	left: -500em;
	width: 490em;
}

.notice
{
	margin: 0 0 1.5em;
	padding: 12px 20px;
	background: #d0e9f0;
	border-radius: 5px;
	font-size: 15px;
}

.feature-box
{
	margin: 1em 0;
	padding: 20px;
	background: #d0e9f0;
	border-radius: 5px;
}

.feature-box h2,.feature-box h3 { margin: 0 0 .3em; }
.feature-box p { margin: 0; }

.question
{
	display: block;
	max-width: 300px;
	margin: 0 0 1em;
	padding: 15px 10px 15px 56px;
	color: #000 !important;
	border-radius: 5px;
	/* font-weight: bold; */
	text-decoration: none;
	background-color: #D0E9F0;
	background-image: url(../img/question.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.question:focus
{
	color: #fff !important;
	background-color: #000;
	background-position: -400px 50%;
}

.question:hover
{
	color: #fff !important;
	background-color: #775C1F;
	background-position: -800px 50%;
}

.question:active
{
	color: #fff !important;
	background-color: #9F1C20;
	background-position: -1200px 50%;
}

@media (min-width:900px) and (max-width:980px)
{
	.question
	{
		display: block;
		max-width: 300px;
		margin: 0 0 1em;
		padding: 15px 20px;
		color: #000 !important;
		border-radius: 5px;
		/* font-weight: bold; */
		text-decoration: none;
		background-color: #D0E9F0;
		background-image: none;
	}
}

.dots
{
	*zoom: 1;
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px dotted #999;
}

.result-image,.result-image-last
{
	float: left;
	width: 175px;
	margin: 0 40px 0 0;
	font-size: 14px;
}

.result-image img,.result-image-last img { margin: 0 0 5px; }
.result-image-last { margin: 0; }
#state { text-transform: uppercase; }
.social { margin: 1.5em 0 0; }
.social img { margin-bottom: 8px; }

/* -----------------------------------
tint
----------------------------------- */

.tint
{
	background-image: url(../img/tint.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* -----------------------------------
box
----------------------------------- */

.box,.box-body
{
	overflow: hidden;
	zoom: 1;
	_overflow: visible;
}

.box img { display: none; }

@media (min-width:900px)
{
	.box-feature
	{
		float: left;
		margin: 0 15px 0 0;
	}
	
	.box-feature-r
	{
		float: right;
		margin: 0 0 0 15px;
	}
	
	.box img { display: block; }
}

/* -----------------------------------
or
----------------------------------- */

.or
{
	margin: 1em 0;
	background: url(../img/or.png) repeat-x 0 50%;
}

.or2
{
	width: 4em;
	margin: 0 auto;
	background: #fff;
	text-align: center;
}

/* -----------------------------------
lists
----------------------------------- */

.list-nb,.list-bullet,.list-dots,.relatedentitylist,.resource,.aside ul,.entity-image ul,.browse,.section ul,.section-wide ul,.list-social
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-bullet li,.relatedentitylist li,.resource li,.aside li,.browse li,.section ul li,.section-wide ul li
{
	margin: 0 0 .4em;
	padding: 0 0 0 15px;
	background-image: url(../img/bullet.png);
	background-repeat: no-repeat;
	background-position: 0 .3em;
}

.list-dots li
{
	margin: 0;
	padding: .5em 0 .5em 15px;
	border-bottom: 1px dotted #999;
	background-image: url(../img/bullet.png);
	background-repeat: no-repeat;
	background-position: 0 .9em;
}

.list-inline li
{
	float: left;
	margin: 0 .3em 0 0;
}

.module li { margin-bottom: 1em !important; }
.section ul { margin-bottom: 1em; }

.entity-image ul li
{
	margin: 0;
	padding: 0;
	background-image: none;
}

.section ol li,.section-wide ol li
{
	margin-bottom: .5em;
	line-height: 1.3;
}

.list-social li
{
	margin: 0 0 5px;
	padding: 5px 0 5px 30px;
}

.list-social-twitter { background: url(../img/icon-twitter.png) no-repeat 0 50%; }
.list-social-youtube { background: url(../img/icon-youtube.png) no-repeat 0 50%; }
.list-social-contact { background: url(../img/icon-contact.png) no-repeat 0 50%; }

/* tabs */
.tabs-container { margin-bottom: 1em; }

.section .tabs li,.section .tabs li
{
	display: inline;
	margin-bottom: 0;
	padding: 0;
	background-image: none;
	font-weight: bold;
}

.tabs a { margin-bottom: 10px !important; }

.tabs .ui-tabs-active a,
.tabs a.active
{
	color: #000 !important;
	background-color: #D4C1A2 !important;
}

#tab1,#tab2,#tab3,#tab4,#tab5 { padding-top: 1em; }
.relatedentitylist,.resource,.browse { margin-bottom: 1em; }

/* -----------------------------------
dl
----------------------------------- */

.dl,.entityevent,.content-summary
{
	overflow: hidden;
	zoom: 1;
	margin: 0 0 1em;
}

.dl dt,.entityevent dt,.content-summary dt
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.dl dd,.entityevent dd,.content-summary dd
{
	overflow: hidden;
	margin: 0 0 .5em;
}

.dl ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* -----------------------------------
entityevent
----------------------------------- */

.browse-options
{
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 2px solid #fff;
	background: #eee;
}

.browse-options .browse-label,
.browse-options .functionlist
{
	float: left;
	width: 20%;
	margin: 0;
	font-weight: bold;
}

.browse-options ul
{
	float: left;
	width: 72%;
	margin: 0;
	padding: 0;
}

.browse-options p
{
	float: left;
	width: 92%;
	margin: 0;
	font-weight: bold;
}

.alphabet-list
{
	overflow: hidden;
	zoom: 1;
	margin: 0 0 1em;
	padding: 0;
}

ul.alphabet-list li
{
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}

.alphabet-list li a
{
	float: left;
	margin: 0 5px 5px 0;
	padding: 1px 4px;
	background: #fff;
	border: 1px solid #bbb;
	text-decoration: none;
}

.count
{
	float: right;
	width: 5%;
	font-weight: bold;
	text-align: right;
}

.module
{
	clear: both;
	overflow: hidden;
	border-bottom: 2px dotted #ccc;
	margin: 0 0 20px 0;
}

.sources
{
	margin: 2em 0;
	padding: 1em;
	background: #eee;
	font-size: 14px;
}

a.details { display: block; }

a.more, a.details, .more-link a
{
	padding: 0 0 0 15px;
	background: url(../img/icon-more.png) no-repeat 0 .2em;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.prepared,.entrydates { font-size: 14px; }
.prepared .prepared { text-transform: uppercase; }
.entity-image,.object-image,.entry-digital-item .img { display: block; }

.entry-digital-item
{
	clear: left;
	overflow: hidden;
	zoom: 1;
	margin: 0 0 1em;
}

.entity-image img,img.alignleft
{
	padding: 2px;
	border: 1px solid #ccc;
}

.entity-image
{
	width: 180px;
	margin: 0 0 1em 0;
	font-size: 13px;
}

.entity-image p
{
	margin: 0;
	padding: .3em 0 0;
	line-height: 1.2;
}

.entry-digital-item { page-break-inside: avoid; }

.entry-digital-item dt,.entry-digital-item dd
{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.object-image,.entry-digital-item .img
{
	padding: 2px;
	border: 1px solid #ccc;
}

@media (min-width: 900px)
{
	.entity-image
	{
		display: block;
		float: right;
		margin: 0 0 0 1.5em;
	}
	
	.object-image,.entry-digital-item .img
	{
		display: block;
		float: left;
		width: 120px !important;
		margin: 0 15px 0 0;
	}
	
	.entry-digital-item dl
	{
		margin: 0 0 0 140px;
		padding: 0;
	}
	
	.entry-digital-item dt
	{
		float: left;
		width: 8em;
		font-weight: bold;
		font-family: arial;
		font-size: 100%;
		margin: 0;
		padding: 0;
	}
	
	.entry-digital-item dd
	{
		margin: 0;
		padding: 0;
		background: none;
		overflow: hidden;
	}
	
	.entry-digital-item p { margin: .2em 0 1em 140px; }
}

@media (min-width:900px)
{
	.dl dt,.entityevent dt,.content-summary dt
	{
		float: left;
		clear: left;
		width: 20%;
		margin: 0 15px 0 0;
		padding: 0;
		text-align: right;
	}
}

.dl-entity { margin: 0; }

.dl-entity dt
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.dl-entity dd
{
	overflow: hidden;
	margin: 0 0 .5em;
}

@media (min-width:900px)
{
	.dl-entity dt
	{
		float: left;
		clear: left;
		width: 80px;
		margin: 0 20px 0 0;
		text-align: right;
	}
	
	.entity-details
	{
		margin-left: 100px;
		width: 100px;
	}
}
