body
{
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font: 100%/1.3 helvetica, arial, sans-serif;
}

img { display: block; }

.container
{
    width: 700px;
    margin: 0 auto;
}

.header
{
    padding: 20px 0;
    overflow: hidden;
}

h1 { float: left; }
.date { float: right; }
.section { }
.clearLeft { clear: left; }
.noMargin { margin: 0; }
.paddingTop { padding-top: 20px; }
.fontNormal { font-weight: normal; }
.fontItalic { font-style: italic; }

/* fonts */
.font38 { font-size: 240%; }
.font28,h1 { font-size: 175%; }
.font24,h2 { font-size: 150%; }
.font20,h3 { font-size: 125%; }
.font18,h4 { font-size: 112.5%; }
.font16,h5 { font-size: 100%; }
.font14 { font-size: 87.5%; }
.font12 { font-size: 75%; }

/* colors */
.dark
{
    padding: 10px 20px;
    border: 1px solid #000;
}

.intro
{
    padding: 20px 0;
}

.state1,.state2,.state3,.state4,.state5,.state6,.state7,.state8
{
    padding: 5px 20px;
    border: 1px solid #000;
}

.post-meta-key
{
    position: absolute;
    left: -500em;
}

ul.post-meta
{
    margin: 0;
    padding: 0;
}

ul.post-meta li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
    background: none;
}
