body
{
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font: 100%/1.3 helvetica, arial, sans-serif;
}

img
{
    display: block;
    max-width: 100%;
    _width: 100%;
}

ul
{
    margin: 1em 0 1.5em;
    padding: 0;
    list-style: none;
}

ul li
{
    margin: 0 0 .3em;
    padding: 0 0 0 20px;
    background: url(images/bullet.png) no-repeat 0 .3em;
}

.container
{
    width: 700px;
    margin: 0 auto;
}

.header
{
    padding: 20px 0;
    overflow: hidden;
}

h1 { float: left; }
.date { float: right; }
.section { }
.clearLeft { clear: left; }
.noMargin { margin: 0; }
.paddingTop { padding-top: 20px; }
.fontNormal { font-weight: normal; }
.fontItalic { font-style: italic; }
.alignRight { text-align: right; }

/* fonts */
.font38 { font-size: 240%; }
.font28,h1 { font-size: 175%; }
.font24,h2 { font-size: 150%; }
.font20,h3 { font-size: 125%; }
.font18,h4 { font-size: 112.5%; }
.font16,h5 { font-size: 100%; }
.font14 { font-size: 87.5%; }
.font12 { font-size: 75%; }

/* colors */
.dark
{
    padding: 10px 20px;
    color: #fff;
    border-top: 3px solid rgb(4,119,143);
    background-color: rgb(29,31,81);
}

.intro
{
    padding: 20px;
    background-color: #daebef;
}

.state1,.state2,.state3,.state4,.state5,.state6,.state7,.state8
{
    padding: 5px 20px;
    color: #fff;
}

.state1 { background-color: #6f8177; }
.state2 { background-color: #b5bb7d; }
.state3 { background-color: #bf6a28; }
.state4 { background-color: #a47d2d; }
.state5 { background-color: #688894; }
.state6 { background-color: #85963a; }
.state7 { background-color: #43602c; }
.state8 { background-color: #285a69; }
ul.post-meta { margin: 0; }

.post-meta-key
{
    position: absolute;
    left: -500em;
}

ul.post-meta li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
    background: none;
}

.date a.home-link { float: right; }
