/* -----------------------------------
GOLD test javascript
----------------------------------- */

.closed div
{
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.entry-extras h2 a
{
    padding: 0 0 0 30px;
    background: url(../img/icon-open.gif) no-repeat 0 50%;
    text-decoration: none;
}

.closed h2 a { background: url(../images/icon-close.gif) no-repeat 0 50%; }

/* -----------------------------------
entry-open-all
----------------------------------- */

.entry-open-all { margin: 0 0 20px 0; }

.entry-open-all a
{
    display: block;
    padding: 0 10px 0 20px;
    background: url(../img/icon-open.gif) no-repeat 0 50%;
    text-decoration: none;
}

.entry-open-all-open a { background-image: url(../img/icon-close.gif); }
.entry-details-container { margin: 1em 0 0; }

.count
{
    float: left;
    width: 30px;
    font-weight: bold;
    text-align: right;
}