/* -----------------------------------
colors
----------------------------------- */

*
{
	box-shadow: none !important;
	color: #000 !important;
	background: transparent !important;
	text-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 { color: #000; }
.go-button { background-color: #000; }
#footer { background-color: #fff; }
#navigation { border-top: 3px solid #000; }
#banner-container { background-color: #000; }
#footer { border-top: 3px solid #666; }
.current a, a.current { color: #fff !important; }
.current a, a.current { background-color: #000 !important; }
#banner-container { border-bottom: 5px solid #000; }
#navigation ul { border-left: 1px solid #000; }
#navigation a { border-right: 1px solid #000; }

/* -----------------------------------
general
----------------------------------- */

html, body, ul, li, form, fieldset, legend { margin: 0; }

body
{
	margin: 0;
	padding: 20px;
	color: #333;
	background: #fff;
	font: 16px/1.4 Georgia, "Lucida Bright", LucidaBright, "Times New Roman", "URW Bookman L", serif;
}

h1, h2, h3,h4,h5,h6 { margin: 0 0 .5em; }
h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
p { margin: 0 0 1em; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
fieldset,img { border: 0; }
legend { color: #000; }
dl { margin: 1em 0; }

dt
{
	clear: left;
	float: left;
	margin: 0 1em 0 0;
	font-weight: bold;
}

dd { margin: 0 0 .5em; }

input, textarea, select, button
{
	font-size: 110%;
	line-height: 1.1;
	font-family: "HelveticaNeue", "Helvetica Neue", helvetica, arial, sans-serif;
}

button
{
	width: auto;
	overflow: visible;
}

table
{
	clear: both;
	margin: 1em 0 2em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

tr:nth-child(odd) { background: #fff; }
tr:nth-child(even) { background: #eee; }

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

td, th
{
	border: 1px solid #ccc;
	padding: 6px 10px;
}

th { background: #ddd; }

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

blockquote
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ddd;
}

ul
{
	margin: 1em 0;
	padding: 0;
}

ul li
{
	margin: 0 !important;
	padding: 0 !important;
}

a:link { color: #000000; }
a:visited { color: #000000; }

/* -----------------------------------
none
----------------------------------- */

.nav-outer,.footer-rich-outer,.footer img,.aside,.more,.details,.notice,.header-details,.tabs { display: none !important; }

/* -----------------------------------
header
----------------------------------- */

.container
{
	margin: 0 !important;
	max-width: 100% !important;
	width: 100% !important;
}

.aside-home,.section,.section-home
{
	width: 100%;
	float: none;
	padding: 0;
}

.footer, .main { padding: 0; }
.cc-text { text-align: left; }

.row
{
	clear: both;
	margin: 1em 0;
}

.header-outer { margin: 0 !important; }
.header { margin: 0 !important; }
.header-logo { margin: 0; }
.header-details { }

.header-logo a
{
	width: auto;
	height: auto;
	float: none;
	margin: 0;
	background: none;
}

.header-logo a span
{
	position: static !important;
	left: 0;
	width: 0;
}

.entity-image ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.entity-image li
{
	margin: 0;
	padding: 0;
}

.aside { margin: 2em 0; }

/* -----------------------------------
add
----------------------------------- */

#add
{
	float: right;
	width: 160px;
	margin: 0 20px 0 0;
	padding: 0 0 20px;
	font-size: 85%;
	line-height: 1.2;
	background: lime;
}

#add ul
{
	margin: 0;
	padding: 0;
}

#add ul li
{
	margin: 0;
	padding: 0;
	background: none;
}

#add img
{
	padding: 2px;
	border: 1px solid #d2cba1;
}

/* -----------------------------------
classes
----------------------------------- */

.entry-digital-item img
{
	float: left;
	margin: 0 1em 0 0;
}

.entry-digital-item dl { overflow: hidden; }

.structural
{
	position: absolute;
	left: -500em;
	color: #000;
	background: #fff;
}

.imagefloat
{
	float: right;
	margin: 0 0 16px 16px;
	padding: 2px;
	border: 1px solid #d2cba1;
}

.entity-image
{
	float: right;
	width: 180px;
	padding: 0 0 20px 20px;
	background: #fff;
	font-size: 90%;
	line-height: 1.2;
}

.image-caption
{
	float: right;
	width: 260px;
	padding: 0 0 20px 20px;
	background: #fff;
	font-size: 90%;
	line-height: 1.2;
}

#dobject .image-caption { width: 190px; }

.image-caption li
{
	padding: 0;
	background: none;
}

.image-caption p
{
	clear: left;
	padding: 10px 0 0;
}

.image-caption img
{
	padding: 2px;
	border: 1px solid #ccc;
}

dl.content-summary, dl.contact-repository
{
	margin: 0 0 1em;
	padding: 0;
}

dl.content-summary dt, dl.contact-repository dt
{
	float: left;
	width: 130px;
	clear: left;
	margin: 0;
	padding: .4em 0 0;
	font-weight: normal;
}

dl.content-summary dd, dl.contact-repository dd
{
	margin: 0 0 0 150px;
	padding: .4em 0 0;
}

.arc-resources dl.content-summary dt { padding: 0; }
.arc-resources dl.content-summary dd { padding: 0; }

.sources
{
	clear: both;
	margin: 0 !important;
	padding: 0;
	font-size: 90%;
}

.sources span { font-weight: bold; }

ul.no-bullets li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: none;
}

ul.resource dl { margin: 0; }
ul.resource li { margin: 0 0 1em; }

dd.doexternalurl, dd.dopub, dd.dorights
{
	width: 240px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

.resource p { margin: .4em 0 1em; }

/* -----------------------------------
alphabet-list
----------------------------------- */

.alphabet-list { display: none; }

/* -----------------------------------
module
----------------------------------- */

.module
{
	clear: left;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 0;
}

.module-search { display: none; }

.module img
{
	float: left;
	padding: 2px;
	border: 1px solid #999;
	margin: 0 10px 0 0;
}

.browse-results { clear: left; }
.browse { clear: left; }

#browse .browse-title
{
	position: absolute;
	left: -500em;
}

.functionlist dl { padding: 0 0 1em; }

.functionlist dt
{
	font-size: 160%;
	font-weight: bold;
	color: #000;
	line-height: 1.1;
	padding: 0 0 5px 0;
}

.functionlist dd
{
	margin: 0 0 0.1em;
	padding: 0 0 0 16px;
	background: url(../images/icon-bullet.png) no-repeat 0 .3em;
}

.functionlist dd.groupdesc
{
	background: none;
	padding: 0 0 0 20px;
	font-size: 90%;
}

.browseEntitybyFunction #main-wide p
{
	position: absolute;
	left: -500em;
}

#google { border: none; }
#google-go { margin-top: 5px; }

#repository .browse-title
{
	position: absolute;
	left: -500em;
}

ul.search-entity-resources
{
	margin: 0;
	padding: 0;
}

ul.search-entity-resources li
{
	margin: 0;
	padding: 0 0 5px 0;
	list-style-type: none;
	font-size: 75%;
	font-weight: bold;
	background: none;
}

ul.search-entity-resources li img { vertical-align: middle; }

dl#repository
{
	margin: 0;
	padding: 0;
}

dl#repository dt
{
	margin: 0;
	padding: 0;
	clear: none;
	float: none;
	width: auto;
}

dl#repository dd
{
	margin: 0;
	padding: 0;
}

.arc-resouces li { list-style-type: none; }

.no-bottom
{
	border-bottom: none;
	padding-bottom: 0;
}

.home dl
{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home dt
{
	float: left;
	clear: left;
	width: 150px;
	margin: 0 20px 0 0;
	padding: 0;
	font-weight: bold;
	text-align: right;
}

.home dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
}

.indent170
{
	clear: left;
	margin: 0 0 0 170px;
}

.col1
{
	float: left;
	width: 330px;
	margin: 0 20px 0 0;
}

/* --- help --- */
.help-phone, .help-form, .help-support
{
	padding: 0 0 3px 25px;
	font-weight: bold;
}

.help-phone { background: url(../images/icon-telephone.png) no-repeat 0 50%; }
.help-form { background: url(../images/icon-email.png) no-repeat 0 50%; }
.help-support { background: url(../images/icon-information.png) no-repeat 0 50%; }

/* --- news --- */
.news h4
{
	margin: 0 0 .3em;
	font-size: 14px;
}

.news p { margin: 0; }
.date { text-transform: uppercase; }
.news-item { padding: 0 0 20px; }

/* --- module-notop --- */
.notop { padding: 0 0 15px; }

#browse .module, #browse .notop,
#repository .module, #repository .notop
{
	clear: none;
	padding: 0;
	border-bottom: none;
}

/* --- module-acknowledgements --- */
.module-acknowledgements
{
	clear: left;
	padding: 20px 0;
	border-bottom: 1px solid #999;
}

/* --- homecol1 module --- */
/* --- homecol1 welcome --- */
/* --- module-prepared --- */
.prepared
{
	border-bottom: none;
	font-size: 90%;
}

.prepared p.prepared { text-transform: uppercase; }

/* --- module-skip --- */
.module-skip { padding: 15px 0 0; }
#main .module-skip li { background: url(../images/icon-skip.gif) no-repeat 0 .3em; }

/* --- homecol2 module --- */
#homecol2 .module h4
{
	font-size: 100%;
	font-weight: bold;
	font-family: helvetica, arial, sans-serif;
}

/* --- module-search --- */
.module-search h2
{
	float: left;
	width: 150px;
	margin: 0 20px 0 0;
}

.module-search form
{
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
}

.module-search #home-search-input
{
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	height: 22px;
	width: 300px;
	border: 1px solid #999;
}

.home-search-instructions
{
	clear: left;
	font-size: 90%;
	padding: 3px 0 0;
}

.home-search-instructions a { margin-left: 20px; }

/* --- module-explore --- */
.module-explore
{
	float: left;
	width: 630px;
	clear: left;
	padding: 20px 0;
	border-bottom: 1px solid #999;
}

.module-explore h2
{
	float: left;
	width: 150px;
	margin: 0 20px 0 0;
}

.module-explore p
{
	float: left;
	width: 300px;
	margin: 0 10px 0 0;
	padding: 0;
}

/* --- module-exhibition --- */
.module-exhibition
{
	float: left;
	width: 630px;
	clear: left;
	padding: 20px 0;
	border-bottom: 1px solid #999;
}

.module-exhibition h2
{
	float: left;
	width: 150px;
	margin: 0 20px 0 0;
}

.module-exhibition p
{
	float: left;
	width: 450px;
	margin: 0 0 5px;
	padding: 0;
}

.module-exhibition p img
{
	float: left;
	width: 70px;
	margin: 0 15px 0 0;
	padding: 2px;
	border: 1px solid #999;
}

.module-exhibition div
{
	float: left;
	width: 250px;
	margin: 0 0 0 170px;
	padding: 0;
}

/* --- module-digital --- */
.module-digital
{
	float: left;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #999;
}

.entry-digital-item
{
	float: left;
	width: 100%;
	clear: left;
	padding: 0 0 1em;
}

.entry-digital-item img
{
	float: left;
	padding: 2px;
	border: 1px solid #d2cba1;
	width: 120px;
}

.entry-digital-item dl
{
	margin: 0;
	padding: 0;
}

#main-wide .entry-digital-item dt, #main .entry-digital-item dt, #main-wide .content-summary dt
{
	float: left;
	width: 8em;
	font-weight: normal;
	font-family: arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#main-wide .entry-digital-item dd, #main .entry-digital-item dd, #main-wide .content-summary dd
{
	margin: 0;
	padding: 0;
	background: none;
	overflow: hidden;
}

.entry-digital-item p { margin: 0 0 1em 140px; }

.entry-digital-gallery
{
	float: left;
	width: 140px;
	padding: 0 0 10px;
}

.entry-digital-gallery p { margin: 0; }

/* -----------------------------------
in-page
----------------------------------- */

#in-page-navigation
{
	margin: 0;
	padding: 0;
}

#in-page-navigation li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}

#in-page-navigation li a
{
	display: block;
	padding: 1px 6px;
	float: left;
	color: #fff;
	background: #8d4314;
	margin: 0 1px 0 0;
}

#in-page-navigation li.current a { background: #6b3a0e; }

#in-page-navigation li a:focus
{
	color: #fff;
	background: #000;
}

#in-page-navigation li a:hover
{
	background: #566313;
	color: #fff;
}

#in-page-navigation li a:active
{
	color: #cc0000;
	background: #fff;
}

ul.pagination
{
	clear: left;
	margin: 0;
	padding: 10px 0;
	text-align: right;
	font-size: 90%;
	border-top: 1px solid #8d4314;
}

ul.pagination li
{
	display: inline;
	margin: 0 0 0 5px;
	padding: 0;
	list-style-type: none;
	background: none;
}

#results
{
	clear: left;
	margin: 0 0 1em;
	padding: 0;
}

#results li
{
	/*background: #f2f0e4;*/
	list-style-type: none;
	padding: 5px 10px;
}

#results li:hover { background: #ddd; }
#results li.odd { background: #fff; }
#results li.odd:hover { background: #ddd; }

#advanced-search
{
	clear: left;
	margin: 0;
	padding: 15px 0;
	border-top: 1px solid #8d4314;
}

#advanced-search div
{
	clear: left;
	padding: 15px 0 0;
}

#advanced-search div span
{
	float: left;
	margin-right: 5px;
}

#advanced-search label.main
{
	float: left;
	width: 180px;
	margin: 0 20px 0 0;
	padding: 0;
	text-align: right;
	font-weight: bold;
}

#advanced-search input.input-wide
{
	float: left;
	width: 220px;
	margin: 0 5px 0 0;
	padding: 0;
	height: 22px;
	border: 1px solid #d3cba4;
}

#advanced-search input.input-narrow
{
	float: left;
	width: 80px;
	margin: 0 5px 0 0;
	padding: 0;
	height: 22px;
	border: 1px solid #d3cba4;
}

#advanced-search select.select-wide { width: 220px; }

#advanced-search ul
{
	float: left;
	width: 500px;
	margin: 0;
	padding: 0;
}

#advanced-search ul li
{
	list-style-type: none;
	background: none;
	padding: 0 0 5px;
}

.advanced-search-button
{
	/*margin-left: 200px;
	width: 400px;*/
	clear: both;
	padding: 40px 0 0;
	width: 500px;
}

#reset { }
#Search-advanced { margin: 0 0 0 133px; }

/* -----------------------------------
browse
----------------------------------- */

#browse-additional .browse-options
{
	padding: 10px;
	margin-bottom: 10px;
	background: #eee;
	float: left;
	width: 830px;
	border-bottom: 2px solid #fff;
}

#browse-additional .browse-options p
{
	float: left;
	width: 220px;
	margin: 0;
	font-weight: bold;
	color: #334E57;
}

#browse-additional .browse-options ul
{
	float: right;
	width: 610px;
	margin: 0;
	padding: 0;
}

#browse-additional .browse-options ul li
{
	margin: 0 3px 0 0;
	padding: 0;
	list-style-type: none;
	display: inline;
	background: none;
}

#browse-additional .browse-options ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#browse-additional .functionlist p
{
	position: absolute;
	left: -500em;
}

#browse-additional .browse-exhibitions img { border: 1px solid #b7bfc2; }

/* -----------------------------------
footer
----------------------------------- */

#footer
{
	clear: both;
	padding: 20px 0;
}

#utility-links li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	background: none;
}

#footer ul li
{
	background: none;
	padding: 0;
}

#creative-commons
{
	margin: 15px 0 0;
	padding: 0 130px 0 0;
	line-height: 1.2;
	background: url(../images/cc.png) no-repeat 100% 0;
}

/* 
-----------------------------------
sortmenu
-----------------------------------
*/

dl.sortmenu
{
	margin: 0 0 1em 0;
	padding: 0;
	clear: left;
}

.sortmenu dt
{
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	font-weight: bold;
}

.sortmenu dd
{
	display: inline;
	margin: 0 5px;
	padding: 0;
}

/* 
-----------------------------------
#contactform
-----------------------------------
*/

form#contactform
{
	margin: 1em 0 3em 0;
	padding: 0;
}

form#contactform div
{
	clear: left;
	margin: 0;
	padding: 0.5em 0 0;
}

form#contactform label
{
	float: left;
	margin: 0 10px 0 0;
	text-align: right;
	width: 95px;
}

form#contactform input,
form#contactform textarea
{
	font-size: 110%;
	line-height: 1.1;
}

form#contactform div input
{
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	border: 1px solid #a9bcb6;
	height: 20px;
	width: 280px;
}

form#contactform textarea
{
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #a9bcb6;
	width: 280px;
}

form#contactform .reqtxt
{
	color: #666;
	float: left;
	font-size: 80%;
	text-transform: uppercase;
	width: 80px;
}

form#contactform p
{
	clear: left;
	margin: 0 0 0 105px;
	padding: 20px 0 0;
	width: 200px;
}

#contact p { clear: left; }

/* 
-----------------------------------
imageviewer
-----------------------------------
*/

#imageviewer { background: #fff; }

#imageviewer p#close
{
	text-align: right;
	padding: 1em 1em 1em 0;
	border-bottom: 1px solid silver;
}

#imageviewer dl.dolist
{
	float: left;
	width: 100%;
	margin-left: 2em;
	padding: 0;
	border-top: none;
	font-size: 85%;
}

#imageviewer .dotitle { font-weight: bold; }

#imageviewer .dolist dt
{
	width: 5em;
	float: left;
	margin: 0;
	font-style: italic;
}

#imageviewer .dolist dd
{
	margin-left: 6em;
	min-height: 0;
}

#imageviewer #image, #imageviewer-paged #image { text-align: center; }

#imageviewer #image p, #imageviewer-paged #image p
{
	font-size: 75%;
	margin: 1em 25% 0 25%;
}

#imageviewer-paged #navigation
{
	text-align: left;
	width: 100%;
	border-bottom: 1px solid silver;
	padding-bottom: 5px;
}

#imageviewer-paged .clear { clear: both; }

#imageviewer-paged #formblock1
{
	float: left;
	width: 70px;
}

#imageviewer-paged #formblock2
{
	float: left;
	margin-left: 75px;
	margin-top: 10px;
}

#imageviewer-paged div#close
{
	float: right;
	padding: 1em 1em 0 0;
}

/* -----------------------------------
GOLD test javascript
----------------------------------- */

.entry-extras h3 a
{
	padding: 0 0 0 30px;
	background: url(../images/icon-open.gif) no-repeat 0 50%;
	text-decoration: none;
}

.closed h3 a { background: url(../images/icon-close.gif) no-repeat 0 50%; }

/* -----------------------------------
entry-open-all
----------------------------------- */

.entry-open-all { margin: 0; }
.entry-open-all a { display: none; }
.entry-open-all-open { display: none; }
.entry-open-all-open a { background-image: url(../images/icon-close.gif); }
.entry-details-container { margin: 1em 0 0; }
