/******************************************************************************
 * Search page styles
 */

.pager { margin: 20px 0; }

.pager ul
{
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

.pager ul li
{
	display: inline;
	line-height: 20px;
}

.pager ul li a
{
	border: 1px solid #ddd;
	border-left-width: 0;
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}

.search-results .summary
{
	font-style: italic;
	padding-bottom: 20px;
}

.search-results .document { padding-bottom: 15px; }

.search-results .document .title a
{
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.search-results .document .url { padding-bottom: 3px; }

.search-results .document .url a
{
	color: green;
	font-size: small;
	text-decoration: none;
}

.search-results .document .thumb { float: right; }
.search-results .document .abstract { padding-bottom: 3px; }

.search-results .image
{
	display: block;
	float: left;
	overflow: hidden;
	padding-right: 15px;
	width: 160px;
}

.search-results .image .caption
{
	padding-top: 10px;
	width: 160px;
}

.search-results .image .thumb
{
	overflow: hidden;
	width: 160px;
}

.search-results .thumb img,.search-results .thumb-wide img,.col img
{
	box-sizing: border-box;
	width: auto;
	padding: 2px; 
	border: 1px solid #ccc;
}

.search-results .thumb-wide
{
	float: left;
	overflow: hidden;
	width: 160px;
	margin-right: 20px;
}

.caption-heading { font-size: 18px; }

.search-results .image p
{
	font-size: 15px;
	line-height: 1.2;
}

.search-results .image-row
{
	display: table;
	margin: 0;
	padding: 0 0 20px 0;
	width: 100%;
}

.search-results .image-row .image:last-child { padding-right: 0; }
.search-results .inline { width: 100%; }
.search-results .inline div { display: inline; }

.search-results .meta
{
	color: #444;
	font-size: small;
	font-style: italic;
	padding-bottom: 5px;
}

.search-results .pager
{
	clear: both;
	display: block;
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
}

.search-results .pager ul
{
	background: none;
	border-radius: 4px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.search-results .pager ul li
{
	background: none;
	cursor: pointer;
	display: inline;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.search-results .pager ul li a
{
	background: none;
	border: 1px solid #ddd;
	border-left: none;
	float: left;
	line-height: 20px;
	padding: 4px 12px 4px 12px;
	text-decoration: none;
}

.search-results .pager .iscurrent
{
	color: #555;
	cursor: default;
}

.search-results .pager ul li:first-child a { border-left: 1px solid #ddd; }
.search-box { padding-bottom: 30px; }
.search-box #search-box-input { }
.search-box #search-box-button { }

.ui-autocomplete .ui-menu-item
{
	background-color: white;
	max-width: 400px;
	overflow: hidden;
}
