html { background: #201B6D; }

body
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #eee;
	font: 100%/1.2 helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p { margin-top: 0; }
h1 { margin: 0 0 .5em; }
h3,h4 { margin: 0 0 .5em; }
h3 + h4 { margin-top: .5em; }
h1,h2,h3,h4,h5,h6 { color: #201B6D; }
h1 { font-size: 1.9em; }
p { line-height: 1.4; }

img
{
	max-width: 100%;
	display: block;
	border: 0;
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
	_width: auto;
}

blockquote
{
	margin: 1.5em 0;
	padding: 1em;
	background: #eee;
}

a:link { color: #00718C; }
a:visited { color: #004659; }
a:focus { color: #000; }
a:hover { color: #6D2C55; }
a:active { color: #9F1C20; }

/*-----------------------------------------------------*/
.box-body img
{
	border: 1px solid #999;
	float: left;
	margin: 0 15px 0 0;
	padding: 2px;
}

.numbersBody { display: block; }

.numbersImg
{
	display: inline;
	float: left;
	margin: 0 10px;
}

.post { padding-bottom: 30px; }

.post .entry-title
{
	margin: 0 0 10px;
	padding: 0;
}

.post .entry-meta
{
	font-style: italic;
	margin: 0 0 10px;
	padding: 0;
}

.widget-area .widget-title:first-child { margin-top: 0; }
.widget-area .widget-title { margin-top: 20px; }
