/* -----------------------------------
font-size
----------------------------------- */

.font34 { font-size: 34px; }
.font32 { font-size: 32px; }
.font30,h2 { font-size: 30px; }
.font28 { font-size: 28px; }
.font26 { font-size: 26px; }
.font24,h3 { font-size: 24px; }
.font22 { font-size: 22px; }
.font20 { font-size: 20px; }
.font18,h4 { font-size: 18px; }
.font16 { font-size: 16px; }
.font14 { font-size: 14px; }
.font13 { font-size: 13px; }
.font12 { font-size: 12px; }
.line-height30 { line-height: 30px; }

.nav-outer
{
	padding-bottom: 25px;
	background-color: #00718C;
	border-top: 5px solid #004659;
}

.navigation
{
	padding: 0 0 20px;
	font-size: 15px;
}

.metadetails
{
	margin: 0 0 1.5em;
	padding: 12px 20px;
	background: #d0e9f0;
	border-radius: 5px;
	font-size: 15px;
}

.aside ul,.section ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.aside li,.section ul li
{
	margin: 0 0 .4em;
	padding: 0 0 0 15px;
	background-image: url(images/bullet.png);
	background-repeat: no-repeat;
	background-position: 0 .3em;
}

.aside .entry
{
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px dotted #999;
}

.aside h4 { font-size: 18px; }

.searchlabel
{
	position: absolute;
	left: -1000px;
	width: 900px;
}

.footer .section-home ul { margin: 0; padding: 0; list-style: none;}
#s
{
	float: left;
	width: 140px;
	height: 26px;
	border: 1px solid #666;
	border-radius: 3px;
	margin: 0 5px 0 0;
	padding: 0 5px;
}

#go
{
	float: left;
	height: 28px;
	padding: 0 .5em;
	border: none;
	border-radius: 3px;
	color: #fff;
	background: #201B6D;
}
